Intro to Machine Learning Homework 1 Bryce Readyhough ID-801005029

Importing required libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

Loading in housing data from the provided CSV file

In [4]:
housingData = pd.DataFrame(pd.read_csv('Housing.csv'))
numRows = len(housingData)
housingData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

The data above contains several datapoints which are boolean yes or no. For a linear regression line these will need to be converted into numeric 1s or 0s. These can be mapped using an xmap. 

The dataset provided already has the data categorized so each variable does not need to be split.

In [5]:
mapVars = ['mainroad', 'guestroom', 'hotwaterheating', 'basement', 'airconditioning', 'prefarea']

def binaryMap(x):
    return x.map({"yes" : 1, "no" : 0})

housingData[mapVars] = housingData[mapVars].apply(binaryMap)

housingData.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

For this model 70% of the data will be used for training, and 30% will be used as test data. The data will be split randomly into 2 sets, the first being the training set containing 70% of the original data, and the second being the test set containing 30% of the original data.

In [15]:
np.random.seed(2)
trainingSet, testSet = train_test_split(housingData, train_size = 0.7, test_size = 0.3, random_state = 
np.random.randint(1))

For this model the price of the house will be modeled using the following data types:
- area
- number of bedrooms
- number of stories
- number of parking spaces

The price of the house will be considered the output or dependent variable (Y). The training and test sets are then reduced to only contain these variables.

In [35]:
model1_vars = ['area', 'bedrooms', 'stories', 'parking', 'price']
model1_train = trainingSet[model1_vars]
model1_test = testSet[model1_vars]
model1_train_length = len(model1_train)
print(model1_train_length)
model1_test_length = len(model1_test)
print(model1_test_length)
model1_train.head()

381
164

     area  bedrooms  stories  parking    price
454  4500         3        2        0  3143000
392  3990         3        2        0  3500000
231  4320         3        1        0  4690000
271  1905         5        2        0  4340000
250  3510         3        3        0  4515000

Both the training and testing sets are then converted into 2 Matrices. One containing the X values and one containing the Y values.

In [31]:
model1_X1_train = model1_train.values[:, 0] #area
model1_X2_train = model1_train.values[:, 1] #bedrooms
model1_X3_train = model1_train.values[:, 2] #stories
model1_X4_train = model1_train.values[:, 3] #parking
model1_Y_train = model1_train.values[:, 4] #price

model1_X1_test = model1_test.values[:, 0] #area
model1_X2_test = model1_test.values[:, 1] #bedrooms
model1_X3_test = model1_test.values[:, 2] #stories
model1_X4_test = model1_test.values[:, 3] #parking
model1_Y_test = model1_test.values[:, 4] #price

The X sets are then combined into 5xnumRows matrices. The first column is the X0 place containing only ones.